#notifications {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#notifications > div {
    cursor: pointer;
    background-color: rgba(133, 32, 32, 0.664);
    padding: 20px;
    margin-top: 20px;
}
